{% extends "base.html" %}

{% block cuerpo %}
<div class="row">
    <div class="col-md-4 pffset-md-4">
        <!--la tarjeta card-->
        <div class="card"> <!-- tarjeta -->
            <div class="card-body">
                <form action="/editarProveedores/" method="POST"> {% csrf_token %} <!-- formulario-->
                    
                    <div class="form-group">
                        <input type="text" id="txtid_proveedores" name="txtid_proveedores" class="form-control"
                        value="{{misproveedores.id_proveedores}}" minLength="6" maxLength="6" readonly required >
                    </div>
    
                    <div class="form-group py-3">
                        <input type="text" id="txtid_producto" name="txtid_producto" class="form-control"
                        value="{{misproveedores.id_producto}}"minLength="6" maxLength="100" required >
                    </div>
                    
                    <div class="form-group py-2">
                        <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                        value="{{misproveedores.direccion}}"min="1" max="9" required >
                    </div>

                    <div class="form-group">
                        <input type="text" id="txtnum_telefono" name="txtnum_telefono" class="form-control"
                        value="{{misproveedores.num_telefono}}" minLength="6" maxLength="6" readonly required >
                    </div>
                    

                    <div class="form-group py-2">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                </form> <!-- formulario-->
            </div>
            </div>

        <!--fin de la tarjeta card-->

    </div> <!--columna-->
</div> <!--fila-->


{% endblock %}