{% extends "base.html" %}
{% block cuerpo %}
<div class="row"><!--La Fila-->
<class="col-sm-12 col-md-4 col-lg-4 col-x1-4"><!-- columna izquierda-->
    <h1>Mama</h1>
    <div class="card"> <!-- tarjeta -->
        <div class="card-body">
            <form action="/registrarEmpresa/" method="POST"> {% csrf_token %} <!-- formulario-->
                <div class="form-group">
                    <input type="text" id="txtid_empleados" name="txtid_empleados" class="form-control"
                    placeholder="Id Empleados" minLength="6" maxLength="6" required >
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtnombre" name="txtnombre" class="form-control"
                    placeholder="Nombre Empresa" minLength="6" maxLength="100" required >
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtdireccion" name="txtdireccion" class="form-control"
                    placeholder="Direccion" minLength="6" maxLength="100" required >
                </div>
                <div class="form-group py-2">
                    <input type="text" id="num_telefono" name="num_telefono" class="form-control"
                    placeholder="Numero de Telefono" minLength="6" maxLength="100" required >
                </div>
                <div class="form-group">
                    <input type="text" id="txtfecha_nacimiento" name="txtfecha_nacimiento" class="form-control"
                    placeholder="Fecha de Nacimiento" minLength="6" maxLength="6" required >
                </div>

                <div class="form-group py-3">
                    <input type="text" id="txtfecha_ingreso" name="txtfecha_ingreso" class="form-control"
                    placeholder="Fecha de Ingreso" minLength="6" maxLength="100" required >
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtpuesto" name="txtpuesto" class="form-control"
                    placeholder="Puesto" minLength="6" maxLength="100" required >
                </div>
                <div class="form-group py-2">
                    <input type="text" id="txtsalario" name="txtsalario" class="form-control"
                    placeholder="Salario" minLength="6" maxLength="100" required >
                </div>
                <div class="form-group py-2">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
            </form> <!-- formulario-->
        </div>
        </div>
</div><!-- columna izquierda-->
<div class="col-sm-12 col-md-8 col-lg-8 col-x1-4"><!-- columna derecha-->
    <h1>Empleados</h1>
<div class="table-responsive"><!-- tabla responsiva-->
    
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">Nombre</th>
            <th scope="col">Direccion</th>
            <th scope="col">Numero de Telefono</th>
            <th scope="col">Fecha de Nacimiento</th>
            <th scope="col">Fecha de Ingreso</th>
            <th scope="col">Puesto</th>
            <th scope="col">Salario</th>
        </tr>
        </thead>
        <tbody>
            {% for m in misempleados %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{m.id_empleados}}</td>
                <td>{{m.nombre}}</td>
                <td>{{m.direccion}}</td>
                <td>{{m.num_telefono}}</td>
                <td>{{m.fecha_nacimiento}}</td>
                <td>{{m.fecha_ingreso}}</td>
                <td>{{m.puesto}}</td>
                <td>{{m.salario}}</td>
                <td><a href="seleccionarEmpleados/{{m.id_empleados}}" class="btn btn-info">Editar</a></td>
                <td><a href="borrarEmpleados/{{m.id_empleados}}" class="btn btn-danger">Borrar</a></td>
            </tr>
            
            
            {% endfor %}
        </tbody>
    </table>
    </div>
</div><!-- columna derecha-->
</div><!--La Fila-->
{% endblock %}